@tailwind base;
@tailwind components;
@tailwind utilities;

.header-wrapper {
  @apply bg-black/10 backdrop-blur-md shadow-md fixed top-0 left-0 w-full z-50 px-6 py-4 font-sans flex justify-between items-center;
}

.header-title {
  @apply text-xl font-bold text-white tracking-tight;
}

.header-nav {
  @apply space-x-6 text-sm font-medium hidden md:flex text-white;
}

.header-link {
  @apply hover:text-black transition;
}
